{% macro initial_cluster() -%}
{% for host in groups['etcd'] -%}
  {{ hostvars[host]['ansible_hostname'] }}=https://{{ hostvars[host].ansible_host }}:2380
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}


[Unit]
Description=etcd
Documentation=https://coreos.com/etcd/docs/latest/
After=network.target

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd
ExecStart=/usr/local/bin/etcd \
    --name={{ ansible_hostname }} \
    --data-dir=/var/lib/etcd \
    --listen-client-urls=https://127.0.0.1:2379,https://{{  ansible_host }}:2379 \
    --advertise-client-urls=https://{{ ansible_host }}:2379 \
    --listen-peer-urls=https://{{ ansible_host }}:2380 \
    --initial-advertise-peer-urls=https://{{ ansible_host }}:2380 \
    --cert-file={{ etcd_server_cert }} \
    --key-file={{ etcd_server_key }} \
    --client-cert-auth \
    --trusted-ca-file={{ ca_cert }} \
    --peer-cert-file={{ etcd_peer_cert }} \
    --peer-key-file={{ etcd_peer_key }} \
    --peer-client-cert-auth \
    --peer-trusted-ca-file={{ ca_cert }} \
    --initial-cluster={{ initial_cluster() }} \
    --initial-cluster-token=my-etcd-token \
    --initial-cluster-state=new \
    --heartbeat-interval 1000 \
    --election-timeout 5000

Restart=always
RestartSec=10s
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
