[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --bootstrap-kubeconfig={{ bootstrap_config }} \
  --kubeconfig={{ kubelet_config }} \
  --config={{ kubelet_conf_yaml }} \
  --pod-infra-container-image={{ pause_image }} \
  --allow-privileged=true \
  --network-plugin=cni \
  --cni-conf-dir={{ cni_conf_dir }} \
  --cni-bin-dir={{ cni_bin_dir }} \
  --cert-dir={{ cert_dir }}
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
