[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart=/usr/local/bin/kube-proxy \
  --kubeconfig={{ kube_proxy_config }} \
  --proxy-mode={{ proxy_mode }} \
  --v=2
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
