[ req ]
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_ca ]
basicConstraints = critical, CA:TRUE
keyUsage = critical, digitalSignature, keyEncipherment, keyCertSign
[ v3_req_server ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
[ v3_req_client ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
[ v3_req_apiserver ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names_cluster
[ v3_req_etcd ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names_etcd
[ alt_names_cluster ]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.svc.cluster.local
DNS.5 = localhost
{% set node = groups['master'] %}
{% for host in node %}
{% set count = loop.index + 5 %}
DNS.{{ count }} = {{ hostvars[host]['ansible_host'] }}
{% if not loop.last -%}{%- endif -%}
{% endfor %}
IP.1 = {{ kubernetes_service_ip }}
IP.2 = 127.0.0.1
IP.3 = {{ api_server_vip }}
{% set node = groups['master'] %}
{% for host in node %}
{% set count = loop.index + 3 %}
IP.{{ count }} = {{ host }}
{% if not loop.last -%}{%- endif -%}
{% endfor %}


[ alt_names_etcd ]
DNS.1 = localhost
IP.1 = 127.0.0.1
{% for host in groups['etcd'] %}
{% set count = loop.index + 1 %}
IP.{{ count }} = {{ host }}
{% if not loop.last -%}{%- endif -%}
{% endfor %}
