[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart=/usr/local/bin/kube-scheduler  \
  --leader-elect=true  \
  --kubeconfig={{ kube_scheduler_config }}  \
  --address=127.0.0.1  \
  --v=2
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
