# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# Kubectl bash completion
alias k=kubectl
complete -F __start_kubectl k
source <(kubectl completion bash)

# Calicoctl alias
alias calicoctl="DATASTORE_TYPE=kubernetes KUBECONFIG=~/.kube/config calicoctl"
